/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-blue: #b2ddfa;
  --color-deep-blue: #64b5f6;
  --color-light-yellow: #f8ecbf;
  --color-orange: #ffa726;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar__logo > i {
  color: var(--color-white);
  font-size: var(--font-medium);
  margin-right: 10px;
}

.navbar__logo > a {
  color: var(--color-white);
  font-size: var(--font-medium);
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  list-style: none;
}

.navbar__menu__item {
  color: var(--color-white);
  margin: 0 25px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__menu__item.active {
  background-color: var(--color-deep-blue);
}

.navbar__menu__item:hover {
  background-color: var(--color-deep-blue);
}

.navbar__menu-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: var(--font-medium);
  color: var(--color-white);
  display: none;
  cursor: pointer;
}

.navbar__menu-btn:hover {
  color: var(--color-deep-blue);
}

@media screen and (max-width: 830px) {
  #navbar {
    width: 100%;
    flex-direction: column;
    background-color: var(--color-blue);
    padding: 20px 0;
  }

  .navbar__menu {
    width: 100%;
    padding-left: 0;
    flex-direction: column;
    display: none;
  }

  .navbar__menu.active {
    display: flex;
  }

  .navbar__menu__item {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .navbar__menu__item.active {
    border: none;
    background-color: var(--color-deep-blue);
  }

  .navbar__menu-btn {
    display: block;
  }
}

/* Home */
#home {
  width: 100%;
  position: relative;
  background-image: url("./imgs/background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.home__avartar {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50%;
}

.home__title {
  text-align: center;
  color: var(--color-white);
}

.home__description {
  text-align: center;
  color: var(--color-white);
}

.home__contact {
  position: relative;
  bottom: 0;
  margin-top: 16px;
  padding: 10px 15px;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
}

.home__contact:hover {
  bottom: -10px;
}

@media screen and (max-width: 920px) {
  .home__title {
    font-size: var(--font-medium);
  }

  .home__description {
    font-size: var(--font-regular);
  }
}

/* About */
#about {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 80px 4rem;
}

#about > h1 {
  width: 100%;
  text-align: center;
  margin: 0 auto 40px auto;
}

.about__background {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}

.background__info {
  width: 33.3333%;
  margin-bottom: 70px;
  display: flex;
}

.info {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.info__icon {
  font-size: var(--font-medium);
  margin-right: 16px;
}

.info__text > p:first-child {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: var(--font-regular);
  font-weight: 600;
}

.info__text > p:last-child {
  font-size: var(--font-small);
}

@media screen and (max-width: 920px) {
  .background__info {
    width: 50%;
  }

  .info {
    display: flex;
    width: 95%;
    margin: 0 auto;
  }

  .info__icon {
    font-size: var(--font-medium);
    margin-right: 36px;
  }

  .info__text > p:first-child {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--font-regular);
    font-weight: 600;
  }

  .info__text > p:last-child {
    font-size: var(--font-small);
  }
}

@media screen and (max-width: 700px) {
  .background__info {
    width: 100%;
  }

  .info {
    display: flex;
    width: 77%;
    margin: 0 auto;
  }

  .info__icon {
    font-size: var(--font-large);
    margin-right: 48px;
  }

  .info__text > p:first-child {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: var(--font-medium);
    font-weight: 600;
  }

  .info__text > p:last-child {
    font-size: var(--font-small);
  }
}

.about__jobs {
  width: 70vw;
}

.job {
  display: flex;
  align-items: center;
  margin: 10px;
}

.job__logo {
  margin-right: 15px;
}

.job__logo > img {
  width: 120px;
  height: 100px;
}

.job__description {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
}

/* Skills */
#skills {
  width: 100%;
  background-color: #ffe7ed;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
#skills > h1 {
  font-size: 56px;
  color: var(--color-white);
}

.skillset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin: 30px auto 0 auto;
}

.skillset__container-front {
  position: relative;
  bottom: 0;
  width: 300px;
  background-color: var(--color-white);
  margin: 20px auto;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s;
}

.skillset__container-front:hover {
  bottom: 10px;
}

.skillset__container-back {
  position: relative;
  bottom: 0;
  width: 300px;
  background-color: var(--color-white);
  margin: 20px auto;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s;
}

.skillset__container-back:hover {
  bottom: 10px;
}

.skillset__container-version {
  position: relative;
  bottom: 0;
  width: 300px;
  background-color: var(--color-white);
  margin: 20px auto;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s;
}

.skillset__container-version:hover {
  bottom: 10px;
}

.skillset__container-front > .title,
.skillset__container-back > .title,
.skillset__container-version > .title {
  color: #54bbf7;
  font-weight: 600;
  font-size: var(--font-medium);
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.skill {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1050px) {
  .skillset {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .skillset__container-front,
  .skillset__container-back,
  .skillset__container-version {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .skillset__container-front > .title,
  .skillset__container-back > .title,
  .skillset__container-version > .title {
    font-size: 24px;
  }
}

/* Projects */
#projects {
  max-width: 1560px;
  margin: 50px auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__categories {
  margin: 20px 0;
  display: flex;
}

.category__btn {
  background-color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: 12px 70px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
}

.category__btn:hover {
  color: var(--color-white);
  background-color: var(--color-deep-blue);
}

.category__count {
  margin-left: 10px;
  padding: 1px 5px;
  background-color: var(--color-orange);
  border-radius: 50%;
}

.work__projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.project {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 10px 10px;
  display: flex;
}

.project > img {
  width: 100%;
  height: auto;
}

.project__description {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s;
}

.project__description:hover {
  opacity: 1;
  transform: translateY(0px);
}

.project__description > h3 {
  font-size: var(--font-medium);
  color: var(--color-white);
}

.project__description > h3::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--color-white);
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}

.project__description > span {
  text-align: center;
  font-size: var(--font-regular);
  color: var(--color-white);
}

@media screen and (max-width: 1500px) {
  .work__projects {
    width: 1040px;
  }

  .project {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1050px) {
  .work__projects {
    width: 80%;
    flex-direction: column;
  }

  .project {
    width: 100%;
    margin: 20px 0 20px 0;
  }
}

/* Contact */
#contact {
  background-color: var(--color-deep-blue);
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
}

#contact > h1 {
  color: var(--color-white);
}

#contact > h2 {
  color: var(--color-white);
  margin-bottom: 30px;
}

.contact__icon {
  color: var(--color-white);
}

.contact__icon > a {
  font-size: var(--font-large);
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}
