/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-blue: #b2ddfa;
  --color-deep-blue: #64b5f6;
  --color-light-yellow: #f8ecbf;
  --color-orange: #ffa726;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  background-color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar__logo > i {
  color: var(--color-white);
  font-size: var(--font-medium);
  margin-right: 10px;
}

.navbar__logo > a {
  color: var(--color-white);
  font-size: var(--font-medium);
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  list-style: none;
}

.navbar__menu__item {
  color: var(--color-white);
  margin: 0 25px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__menu__item.active {
  border: 1px solid white;
}

.navbar__menu__item:hover {
  background-color: var(--color-deep-blue);
}

/* Home */
#home {
  position: relative;
  background-image: url("./imgs/background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.home__avartar {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50%;
}

.home__title {
  text-align: center;
  color: var(--color-white);
}

.home__description {
  color: var(--color-white);
}

.home__contact {
  margin-top: 16px;
  padding: 10px 15px;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  cursor: pointer;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px, 0;
}

#about > p {
  width: 70vw;
  font-weight: var(--weight-semi-bold);
}

.about__majors {
  width: 70vw;
  display: flex;
  margin: 70px 0;
  align-items: center;
  justify-content: space-evenly;
}

.major {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
}

.major__icon {
  position: relative;
  border: 1px solid var(--color-deep-blue);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.major__icon > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 130px;
  color: var(--color-deep-blue);
}

.major__title {
  margin: 10px 0;
  font-size: 33px;
  font-weight: var(--weight-bold);
  text-align: center;
}

.major__description {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  text-align: center;
}

.about__jobs {
  width: 70vw;
}

.job {
  display: flex;
  align-items: center;
  margin: 10px;
}

.job__logo {
  margin-right: 15px;
}

.job__logo > img {
  width: 120px;
  height: 100px;
}

.job__description {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
}

/* Skills */
#skills {
  background-color: var(--color-light-yellow);
  width: 95vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.skillset {
  display: flex;
  width: 85%;
  margin-top: 30px;
  padding-bottom: 80px;
}

/* Skillset Left */
.skillset__left {
  background-color: #333333;
  color: var(--color-white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.skillset__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

.skill {
  width: 90%;
  margin: 20px 0;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

.skill__bar {
  width: 100%;
  height: 2px;
  background-color: #757474;
}

.skill:nth-child(2) .skill__value {
  width: 80%;
  height: 100%;
  background-color: var(--color-orange);
}

.skill:nth-child(3) .skill__value {
  width: 75%;
  height: 100%;
  background-color: var(--color-orange);
}

.skill:nth-child(4) .skill__value {
  width: 85%;
  height: 100%;
  background-color: var(--color-orange);
}

.skill:nth-child(5) .skill__value {
  width: 80%;
  height: 100%;
  background-color: var(--color-orange);
}

.skill:nth-child(6) .skill__value {
  width: 60%;
  height: 100%;
  background-color: var(--color-orange);
}

/* Skillset right */
.skillset__right {
  flex-grow: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools {
  width: 100%;
  background-color: #757474;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools__list {
  list-style: none;
  padding: 0;
  color: var(--color-white);
  margin-top: 8px;
}

.etc {
  width: 100%;
  background-color: #a7a6a6;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.etc__list {
  list-style: none;
  padding: 0;
  color: var(--color-white);
  margin-top: 8px;
}

/* Projects */
#projects {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work__categories {
  margin: 20px 0;
  display: flex;
}

.category__btn {
  background-color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: 12px 70px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
}

.category__btn:hover {
  color: var(--color-white);
  background-color: var(--color-deep-blue);
}

.category__count {
  margin-left: 10px;
  padding: 1px 5px;
  background-color: var(--color-orange);
  border-radius: 50%;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 5px;
  overflow: hidden;
  display: flex;
}

.project > img {
  width: 100%;
  height: auto;
}

.project__description {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s;
}

.project__description:hover {
  opacity: 1;
  transform: translateY(0px);
}

.project__description > h3 {
  font-size: var(--font-medium);
  color: var(--color-white);
}

.project__description > h3::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--color-white);
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}

.project__description > span {
  text-align: center;
  font-size: var(--font-regular);
  color: var(--color-white);
}

/* Contact */
#contact {
  width: 95vw;
  background-color: var(--color-deep-blue);
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px auto;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
}

#contact > h1 {
  color: var(--color-white);
}

#contact > h2 {
  color: var(--color-white);
  margin-bottom: 30px;
}

.contact__icon {
  color: var(--color-white);
}

.contact__icon > a {
  font-size: var(--font-large);
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}
