* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

body {
  height: 100%;
  overflow: hidden;
}

#myCanvas {
  background-color: black;
}

#intro-container {
  width: 67vw;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 2.5px;
  font-size: 2.5rem;
  text-align: center;
}
.cursor-pointer {
  position: relative;
  font-size: 3rem;
  bottom: 2px;
  animation: blink-effect 1s step-end infinite;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

#navigation {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

#navigation .menu {
  width: 20vw;
  height: 100%;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 5rem;
  font-size: 0.9rem;
  position: relative;
  transition: font-size 0.3s;
}

#navigation .menu:hover {
  color: #81d4fa;
  font-size: 1.1rem;
}

#navigation .menu.active {
  font-size: 1.1rem;
  color: #81d4fa;
  border-bottom: 2px solid #81d4fa;
}
