* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Pen Script";
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  z-index: 1;
}

header {
  width: 40vw;
  height: 80vh;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Skill */

#skillPostit {
  width: 200px;
  height: 200px;
  background-color: #bbdefb;
  position: relative;
  top: 20%;
  left: 75%;
  border-top: 30px solid #a2c5e0;
  border-bottom-left-radius: 60px 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#skillPostit::after {
  content: "";
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 37px;
  left: 0;
  transform: matrix(1, -0.2, 0, 0.9, 0, 0);
}

#skillPostit:hover {
  border-bottom-left-radius: 75px 30px;
}

#skillPostit:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

/* Career */

#careerPostit {
  width: 200px;
  height: 200px;
  background-color: #fcf271;
  position: absolute;
  top: 10%;
  left: 10%;
  border-top: 30px solid #fcec5f;
  border-bottom-left-radius: 60px 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#careerPostit::after {
  content: "";
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 37px;
  left: 0;
  transform: matrix(1, -0.2, 0, 0.9, 0, 0);
}

#careerPostit:hover {
  border-bottom-left-radius: 75px 30px;
}

#careerPostit:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

/* Project */

#projectPostit {
  width: 200px;
  height: 200px;
  background-color: #fcf271;
  position: absolute;
  top: 60%;
  left: 6%;
  border-top: 30px solid #fcec5f;
  border-bottom-left-radius: 60px 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#projectPostit::after {
  content: "";
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 37px;
  left: 0;
  transform: matrix(1, -0.2, 0, 0.9, 0, 0);
}

#projectPostit:hover {
  border-bottom-left-radius: 75px 30px;
}

#projectPostit:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

/* contact */

#contactPostit {
  width: 200px;
  height: 200px;
  background-color: #fcf271;
  position: absolute;
  top: 60%;
  left: 80%;
  border-top: 30px solid #fcec5f;
  border-bottom-left-radius: 60px 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#contactPostit::after {
  content: "";
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 37px;
  left: 0;
  transform: matrix(1, -0.2, 0, 0.9, 0, 0);
}

#contactPostit:hover {
  border-bottom-left-radius: 75px 30px;
}

#contactPostit:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}
